
body {
  background: #ddd;
  color: #000;
  text-align: center;
  margin-top: 200px;
}

input {
  padding: 10px;
}

input:hover {
  background: #000;
  color: #fff;
  outline: none;
}
